
<div ui-view class="container" ng-controller = "checkCtrl">
	<div class="check">	 
			 <div class="col-md-3 cart-total">
			 <a class="continue" href="#">Tiếp tục xem mặt hàng </a>
			 <div class="price-details">
				 <h3 style="color: red">Giá chi tiết</h3>
				 <span>Giá sản phẩm</span>
				 <span class="total1">{{listitems[0].Gia}}</span>
				 <span>Phí giao hàng</span>
				 <span class="total1">30000</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <ul class="total_price">
			   <li class="last_price"> <h4>Tổng cộng</h4></li>	
			   <li class="last_price"><span>{{total}}</span></li>
			   <div class="clearfix"> </div>
			 </ul>
			
			 
			 
			
			</div>
		 <div class="col-md-9 cart-items">
			 <h1>Đặt hàng </h1>
				
			 <div class="cart-header">
					 <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							 <img ng-src={{listitems[0].HinhAnh}} class="img-responsive" alt=""/>
						</div>
					   <div class="cart-item-info">
						<h3><a ui-sref = "details">{{listitems[0].TenMH}} - {{listitems[0].IDCT}}</a></h3>
						<ul class="qty">
							<li><p>Kích cỡ : {{listitems[0].Size}}</p></li>
							<li><p>Màu : {{listitems[0].MauSac}}</p></li>
						</ul>
						
							 <div class="delivery">
							 <p>Dịch vụ vận chuyển : Rs.100.00</p>
							 <span>Giao hàng từ 2 - 3 ngày</span>
							 <div class="clearfix"></div>
				        </div>	
					   </div>
					   <div class="clearfix"></div>
											
				  </div>
			 </div>
			
		
			<div class="clearfix"> </div>
	 </div>
	 <form>
    <div class="form-group">
      <label for="address">Địa chỉ:</label>
      <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ" ng-model="user.diachi">
    </div>
    <div class="form-group">
      <label for="phonenum">Số điện thoại:</label>
      <input type="text" class="form-control" id="phonenum" placeholder="Nhập số điện thoại" ng-model="user.dienthoai">
    </div>
	<button class="btn btn-success"  ng-click="mua()" style="width: 120px">Mua</button>
    </form>
	 </div>
	 </div>

