

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/menu_jquery.js"></script>
<script src="js/simpleCart.min.js"> </script>



<!-- content -->
<div ui-view class="container" ng-controller = "filCtrlid">
	<div class="women_main">
	<!-- start sidebar -->
	<div class="col-md-3 s-d">
	  <div class="w_sidebar">
		<div class="w_nav1">
			<h4><a ui-sref="filtertype({type: tatca })">TẤT CẢ</a></h4>
			<ul>
				<li><a ui-sref="filtertype({type: nam })">NAM</a></li>
				<li><a ui-sref="filtertype({type: nu })">NỮ</a></li>
			</ul>	
		</div>
		<section  class="sky-form">
					<h4>Loại Hàng</h4>
						<div class="row1 scroll-pane">
							<div class="col col-4">
								<a ui-sref="filtertype({type: quan })"><label class="radio"><input type="radio" value ="quan" ng-model ="model.type"><i></i>Quần</label></a>
								<a ui-sref="filtertype({type: ao })"><label class="radio"><input type="radio" value ="ao" ng-model ="model.type"><i></i>Áo</label></a>
								<a ui-sref="filtertype({type: dam })"><label class="radio"><input type="radio" value ="dam" ng-model ="model.type"><i></i>Đầm</label></a>
							</div>
							
						</div>
		</section>
		
	</div>
   </div>
	<!-- start content -->
	<div class="col-md-9 w_content" >
		<div class="women">
			<a href="#"><h4>Lọc theo: ID {{id}} - <span>{{listitems[0].length}} mặt hàng</span> </h4></a>
		     <div class="clearfix"></div>	
		</div>
		<!-- grids_of_4 -->
		

		<div class="grids_of_4"  ng-repeat = "item in listitems[0]" ng-if="$index % 4 == 0">
		  	<div class="grid1_of_4">
				<div class="content_box">
					<a ui-sref="details({id: listitems[0][$index].IDCT})">
			   	   	 <img ng-src= {{listitems[0][$index].HinhAnh}} class="img-responsive" alt=""/>
				   	  </a>
				    <h4><a ui-sref="details({id: listitems[0][$index].IDCT})" id="Ten1">{{listitems[0][$index].TenMH}}</a></h4>
				     <p>{{listitems[0][$index].Mota}}</p>
					 <div class="grid_1 simpleCart_shelfItem">
				   		<div class="item_add"><span class="item_price"><h6 id="Gia1">ONLY {{listitems[0][$index].Gia}}</h6></span></div>
					 </div>
			   	</div>
			</div>
			<div class="grid1_of_4" ng-if="listitems[0].length > ($index + 1)">
				<div class="content_box">
					<a ui-sref="details({id: listitems[0][$index+1].IDCT})">
			   	   	 <img ng-src= {{listitems[0][$index+1].HinhAnh}} class="img-responsive" alt=""/>
				   	  </a>
				    <h4><a ui-sref="details({id: listitems[0][$index].IDCT})" id="Ten1">{{listitems[0][$index+1].TenMH}}</a></h4>
				     <p>{{listitems[0][$index+1].Mota}}</p>
					 <div class="grid_1 simpleCart_shelfItem">
				   		<div class="item_add"><span class="item_price"><h6 id="Gia1">ONLY {{listitems[0][$index+1].Gia}}</h6></span></div>
					 </div>
			   	</div>
			</div>
			<div class="grid1_of_4" ng-if="listitems[0].length > ($index + 2)">
				<div class="content_box">
					<a ui-sref="details({id: listitems[0][$index+2].IDCT})">
			   	   	 <img ng-src= {{listitems[0][$index+2].HinhAnh}} class="img-responsive" alt=""/>
				   	  </a>
				    <h4><a ui-sref="details({id: listitems[0][$index+2].IDCT})" id="Ten1">{{listitems[0][$index+2].TenMH}}</a></h4>
				     <p>{{listitems[0][$index +2 ].Mota}}</p>
					 <div class="grid_1 simpleCart_shelfItem">
				   		<div class="item_add"><span class="item_price"><h6 id="Gia1">ONLY {{listitems[0][$index+2].Gia}}</h6></span></div>
					 </div>
			   	</div>
			</div>
			<div class="grid1_of_4" ng-if="listitems[0].length > ($index + 3)">
				<div class="content_box">
					<a ui-sref="details({id: listitems[0][$index+3].IDCT})">
			   	   	 <img ng-src= {{listitems[0][$index+3].HinhAnh}} class="img-responsive" alt=""/>
				   	  </a>
				    <h4><a ui-sref="details({id: listitems[0][$index+3].IDCT})" id="Ten1">{{listitems[0][$index+3].TenMH}}</a></h4>
				     <p>{{listitems[0][$index+3].Mota}}</p>
					 <div class="grid_1 simpleCart_shelfItem">
				   		<div class="item_add"><span class="item_price"><h6 id="Gia1">ONLY {{listitems[0][$index+3].Gia}}</h6></span></div>
					 </div>
			   	</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		
		
		<!-- end grids_of_4 -->
	</div>
	<div class="clearfix"></div>
	</div>
	</div>
	
	<!-- end content -->

