


<script type="text/javascript">
$(document).ready(function () {

});
</script>

<div ui-view class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Thêm sản phẩm
                </h1>
            </div><!-- /.page-header -->
            <div class="row" ng-controller="UpLoadCtrl">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            <p for="inputID" class="labelForm">
                                ID mặt hàng:
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <input disabled class="form-control" id="IDMH">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <div class="col-lg-4">
                                <p for="inputID" class="labelForm">
                                    Tên mặt hàng:
                                </p>
                            </div>
                            <div class="col-lg-8 " >
                                <input class="form-control" id="TenMH">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            <p for="inputID" class="labelForm">
                                Loại sản phẩm:
                            </p>
                        </div>
                        <div class="col-lg-8 " >
                            <select id="loaisp">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            <p for="inputID" class="labelForm">
                                Url Hình ảnh:
                            </p>
                        </div>
                        <div class="col-lg-8 " >
                            <img style="height: 50px;width: 50px" ngf-src="picFile11" class="thumb">
                            <form name="myForm">
                                <input type="button" id="browse-image11" data-target="image_name" ngf-select ng-model="picFile11" name="file" ngf-accept="'image/*'" value="Choose" required>
                                <button ng-click="uploadFiles1(picFile11)">Submit</button>

                                <input id="urlha1" class="form-control" ng-model="url1" placeholder="Đây là url hình ảnh" disabled="true">
                                <span class="progress" ng-show="picFile.progress >= 0">
                                                            <div style="width:5%;color: #0000cc" ng-bind="picFile.progress + '%'"></div>
                                                        </span>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
                </br>
                <div class="row" >
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            <p for="inputID" class="labelForm">
                                Url Hình ảnh:
                            </p>
                        </div>

                        <div class="col-lg-8">
                            <img style="height: 50px;width: 50px" ngf-src="picFile12" class="thumb">
                            <form name="myForm">
                                <input type="button" id="browse-image12" data-target="image_name" ngf-select ng-model="picFile12" name="file" ngf-accept="'image/*'" value="Choose" required>
                                <button ng-click="uploadFiles2(picFile12)">Submit</button>

                                <input class="form-control" ng-model="url2" placeholder="Đây là url hình ảnh" disabled="true" id="urlha12">
                                <span class="progress" ng-show="picFile.progress >= 0">
                                                                      <div style="width:5%; color: #0000cc" ng-bind="picFile.progress + '%'"></div>
                                                            </span>
                                <br/>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-4">
                            <p for="inputID" class="labelForm" >
                                Url Hình ảnh:
                            </p>
                        </div>
                        <div class="col-lg-8 " >
                            <img style="height: 50px;width: 50px" ngf-src="picFile13" class="thumb">
                            <form name="myForm">
                                <input type="button" id="browse-image13" data-target="image_name" ngf-select ng-model="picFile13" name="file" ngf-accept="'image/*'" value="Choose" required>
                                <button ng-click="uploadFiles3(picFile13)">Submit</button>

                                <input class="form-control" ng-model="url3" placeholder="Đây là url hình ảnh" id="urlha13" disabled="true">
                                <span class="progress" ng-show="picFile.progress >= 0">
                                                                      <div style="width:5%;color: #0000cc" ng-bind="picFile.progress + '%'"></div>
                                                            </span>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
                </br>

                <div class="modal-footer" style="margin-top: 20px">
                    <button id="OKthemmoi" class="btn btn-primary" >OK
                    </button>

                </div>
                <div id="crip">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.ajax({
        type: 'GET',
        url:'http://apishoponline.apphb.com/api/Server/getsub',
        datatype: 'JSON',
        success: function (success) {
            var LoaiSP = '<select id="loaisp">';
            for (var i = 0; i < success.length; i++)
            {
                LoaiSP = LoaiSP + '<option value="'+ success[i].ID + '">' + success[i].TenLoai + '</option>';
            }
            LoaiSP = LoaiSP + '</select>';

            $('#loaisp').html(LoaiSP);
            $('#loaispe').html(LoaiSP);
            $("#OKthemmoi").click(function () {
                $.ajax({
                    type : "POST",
                    url : "http://apishoponline.apphb.com/api/Server/themMH",
                    datatype: "JSON",
                    data: {
                        TenMH: $('#TenMH').val(),
                        IDSubLoaiHang : $('#loaisp').val(),
                        URLHinhAnh1: $('#urlha').val(),
                        URLHinhAnh2: $('#urlha1').val(),
                        URLHinhAnh3: $('#urlha2').val(),
                        STATUS: true
                    },
                    success: function (response) {
                        if (response === true){
                            alert("Lưu thành công! Vui lòng quay về trang sản phẩm để xem thông tin!");
                            console.log("Lưu thành công!");
                        }
                        else {
                            alert("Lưu thất bại!")
                            console.log("Lưu thất bại!");
                        }
                    }
                });
            });
        }
    });
</script>
